*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.hr{
    position: relative;
    left: 10%;
    width: 80%;
    background-color: #999;
}

/* plans component styling */

.plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -5rem;
    margin-bottom: 1rem;
}
.plans .planHeading{
    /* margin-top: 1.5rem; */
    width: 35%;
    @media (max-width: 900px) {
        width: 70%;
    }
    
}
.plans .planHeading h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 3.5rem;
}

.plans .planInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    @media (max-width: 900px) {
        flex-direction: column;
    }
}
.plans .planInfo .planData{
    border: 1px solid #111;
    padding: 1.5rem 2.5rem;
    border-radius: 6px;
    /* width: 20%; */
    margin: 0 2.5rem;

    /* height: 75%; */
    @media (max-width: 1094px) {
        padding: 1.5rem 1rem;
    }
    @media (max-width: 944px) {
        margin: 0 1.5rem;
    }
    @media (max-width: 900px) {
        /* width: 40%; */
        padding: 1.5rem 2.2rem;
        margin: 1rem 0;
    }
    @media (max-width: 365px) {
        padding: 1.5rem 1rem;
    }
    @media (max-width: 300px) {
        padding: 1.5rem 0.5rem;
    }
}
.plans .planInfo .gold{
    border: 3px solid rgb(222, 193, 25);
    transform: scale(1.1);
    @media (max-width: 900px) {
        margin: 2.6rem 0;
    }
}

.planData .planBase{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;
    width: 30%;
    /* padding: 0.5rem; */
    border: 1px solid #111;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    /* background-color: rgb(234, 234, 234); */
    
}
.gold .planBase{
    border: 1px solid rgb(148, 127, 5);
    background-color: rgb(250, 245, 218);
    color: rgb(180, 159, 40);
}
.silver .planBase{
    border: 1px solid silver;
    background-color: rgb(230, 230, 230);
    color: rgb(126, 126, 126);
}
.planData h1{
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
}
.planData h1 span{
    font-size: 0.8rem;
    font-weight: 400;
}
.planData p{
    font-size: 0.8rem;
}

.planData .planFeatures{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    justify-content: flex-start;
    margin-top: 3rem;
}
.planFeatures .features{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 0;
    
}
.planFeatures .features i{
    margin-right: 0.5rem;
}
.gold .features i{
    color: rgb(189, 164, 22);
}
.silver .features i{
    color: rgb(142, 142, 142);
}
.planData .planButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #111;
    margin-top: 1.5rem;
    padding: 0.5rem 0;
    border-radius: 6px;
    font-weight: 600;
    /* background-color: rgb(232, 230, 230); */
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.gold .planButton{
    border: 1px solid rgb(135, 119, 33);
    background-color: rgb(244, 210, 20);
}
.silver .planButton{
    border: 1px solid silver;
    background-color: rgb(219, 219, 219);
}


/* Footer component Styling */

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6rem;
    background-color: #333;
    color: #fff;


}
.footer .topFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    @media (max-width: 890px) {
        flex-direction: column;
    }
}

.footer .bottomFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.topFooter .rightFooter{
    display: flex;
    flex-direction: row;
    @media (max-width: 512px) {
        flex-direction: column;
    }
}
.topFooter .logoFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
    @media (max-width: 890px) {
        margin-right: 0;
    }
    @media (max-width: 512px) {
        margin-right: 0;
    }
}
.topFooter .logoFooter img{
    height: 8rem;
    width: 8rem;
}
.topFooter .logoFooter h2{
    font-size: 1.3rem;
    margin-top: -0.9rem;
}
.topFooter .logoFooter p{
    font-size: 0.9rem;
    padding: 0.5rem 0;
    color: #999;
    text-align: center;
}

.topFooter .linkFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8rem;
    @media (max-width: 1090px) {
        margin: 0 5rem;
    }
    @media (max-width: 986px) {
        margin: 0 2rem;
    }
    @media (max-width: 890px) {
        margin-top: 3rem;
    }
}
.topFooter .linkFooter .linkHeading{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    /* justify-content: center; */
}
.linkFooter .linkHeading h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.linkFooter .linkHeading i{
    font-size: 1.3rem;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
}
.topFooter .linkFooter .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.3rem 0;
    padding: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 1.4rem;
    border: 1px solid #333;
    border-radius: 7px;
    color: #999;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    
}
.topFooter .linkFooter .links a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.topFooter .linkFooter .links i{
    visibility: hidden;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}
.topFooter .linkFooter .links h2{
    position: relative;
    transition: all 0.3s ease-in-out;
}
.topFooter .linkFooter .links:hover{
    /* border: 1px solid #666; */
    color: #fff;
}
.topFooter .linkFooter .links:hover i{
    visibility: visible;
    transform: translateX(5px);
    
}
.topFooter .linkFooter .links:hover h2{
    transform: translateX(9px);
}

.underlin::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    /* background-color: #fff; */
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .underlin:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }

.topFooter .socialFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    @media (max-width: 890px) {
        margin-top: -2.5rem;
    }
    @media (max-width: 560px) {
        margin-left: 1rem;
    }
    @media (max-width: 512px) {
        margin-top: 2rem;
        margin-left: 0;
    }
}
.socialFooter .socialHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.socialFooter .socialHeading h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.socialFooter .socialHeading i{
    font-size: 1.3rem;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
    margin-bottom: 1rem;
}
.socialFooter .socialLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.socialFooter .socialLinks .social{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.socialLinks .social i{
    color: #999;
}
.socialFooter .socialLinks .social:hover{
    transform: translateY(-5px);
}
.socialFooter .socialLinks .social:hover i{
    color: #fff;
}

/* Solutions component styling */

.solutions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.solutions .leftimgSol{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    /* margin: 1rem 0; */
    @media (max-width: 1255px) {
        width: 94%;
    }
    @media (max-width: 1070px) {
        flex-direction: column;
    }
}
.leftimgSol img{
    margin-right: 1rem;
    width: 50%;
    @media (max-width: 1070px) {
        margin-right: 0;
    }
}
.leftimgSol .text{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1070px) {
        margin-left: 0;
    }
}
.leftimgSol .text h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.leftimgSol .text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    text-align: center;
    @media (max-width: 390px) {
        font-size: 1rem;
    }
}

.solutions .rightimgSol{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    /* margin: 1rem 0; */
    @media (max-width: 1255px) {
        width: 94%;
    }
    @media (max-width: 1070px) {
        flex-direction: column-reverse;
    }
}
.rightimgSol img{
    margin-left: 1rem;
    width: 50%;
    @media (max-width: 1070px) {
        margin-left: 0;
    }
}
.rightimgSol .text{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1070px) {
        margin-right: 0;
    }
}
.rightimgSol .text h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.rightimgSol .text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    text-align: center;
    @media (max-width: 390px) {
        font-size: 1rem;
    }
}



/* Solutions component styling */

.solutions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.solutions .leftimgSol{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    /* margin: 1rem 0; */
    @media (max-width: 1255px) {
        width: 94%;
    }
    @media (max-width: 1070px) {
        flex-direction: column;
    }
}
.leftimgSol img{
    margin-right: 1rem;
    width: 50%;
    @media (max-width: 1070px) {
        margin-right: 0;
    }
}
.leftimgSol .text{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1070px) {
        margin-left: 0;
    }
}
.leftimgSol .text h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.leftimgSol .text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    text-align: center;
    @media (max-width: 390px) {
        font-size: 1rem;
    }
}

.solutions .rightimgSol{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    /* margin: 1rem 0; */
    @media (max-width: 1255px) {
        width: 94%;
    }
    @media (max-width: 1070px) {
        flex-direction: column-reverse;
    }
}
.rightimgSol img{
    margin-left: 1rem;
    width: 50%;
    @media (max-width: 1070px) {
        margin-left: 0;
    }
}
.rightimgSol .text{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1070px) {
        margin-right: 0;
    }
}
.rightimgSol .text h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.rightimgSol .text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    text-align: center;
    @media (max-width: 390px) {
        font-size: 1rem;
    }
}


/* Register Component Styling */



  
